#
# Copyright (c) 2022-2023 SMALLPROGRAM <https://github.com/smallprogram>
# Description: Auto compile
#

name: "Auto compile with OpenWrt SDK"
permissions:
  contents: read
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: "SSH connection to Actions"
        required: false
        default: "false"
  push:
    branches:
      - "master"
    paths:
      - "Makefile"
env:
  TZ: Asia/Shanghai

jobs:
  job_check:
    if: github.repository == ${{ github.repository }}
    name: Check Version
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      argon_version: ${{ steps.check_version.outputs.latest_version }}
      has_update: ${{ steps.check_version.outputs.has_update }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: "master"

      - name: Check version
        id: check_version
        env:
          url_release: https://api.github.com/repos/${{ github.repository }}/releases/latest
        run: |
          ver=$(grep -oP 'PKG_VERSION:=\K.*' Makefile)
          rel=$(grep -oP 'PKG_RELEASE:=\K.*' Makefile)
          latest_version="v${ver}-${rel}"
          latest_release=$(wget -qO- -t1 -T2 ${{env.url_release}} | awk -F '"' '/tag_name/{print $4}')
          has_update=$([ "${latest_version}" != "${latest_release}" ] && echo true || echo false)
          echo "latest_version=${latest_version}" >> $GITHUB_OUTPUT
          echo "has_update=${has_update}" >> $GITHUB_OUTPUT
          echo "latest_version: ${latest_version}"
          echo "latest_release: ${latest_release}"
          echo "has_update: ${has_update}"

      - name: Generate new tag & release
        if: steps.check_version.outputs.has_update == 'true'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{steps.check_version.outputs.latest_version}}
          name: Build-${{ steps.check_version.outputs.latest_version }}

  job_build_argon:
    name: Build Argon (master)
    needs: job_check
    if: needs.job_check.outputs.has_update == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install packages
        run: |
          echo "Install packages"
          sudo -E apt-get -qq update
          sudo -E apt-get -qq install zstd build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-venv rsync unzip zlib1g-dev file wget
          sudo -E apt-get -qq autoremove --purge
          sudo -E apt-get -qq clean

      - name: Cache openwrt SDK
        id: cache-sdk
        uses: actions/cache@v4
        with:
          path: sdk
          key: openwrt-sdk-24.10.4-x86-64

      - name: Initialization environment
        if: steps.cache-sdk.outputs.cache-hit != 'true'
        env:
          url_sdk: https://downloads.openwrt.org/releases/24.10.4/targets/x86/64/openwrt-sdk-24.10.4-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst
        run: |
          wget ${{ env.url_sdk }}
          file_name=$(echo ${{env.url_sdk}} | awk -F/ '{print $NF}')
          mkdir sdk && tar --zstd -xvf $file_name -C ./sdk --strip-components=1
          cd sdk
          mkdir -p package/luci-theme-argon
          cp -r $GITHUB_WORKSPACE/* package/luci-theme-argon/
          echo "src-git base https://github.com/openwrt/openwrt.git;main" > feeds.conf
          echo "src-git-full packages https://github.com/openwrt/packages.git;master" >> feeds.conf
          echo "src-git-full luci https://github.com/openwrt/luci.git;master" >> feeds.conf
          echo "src-git-full routing https://git.openwrt.org/feed/routing.git;master"  >> feeds.conf
          ./scripts/feeds update -a
          echo "CONFIG_PACKAGE_luci-theme-argon=m" > .config
          ./scripts/feeds install -d n luci-theme-argon
          make download -j8

      - name: Configure Argon (master)
        run: |
          cd sdk
          # ./scripts/feeds install luci-theme-argon
          echo "CONFIG_ALL_NONSHARED=n" > .config
          echo "CONFIG_ALL_KMODS=n" >> .config
          echo "CONFIG_ALL=n" >> .config
          echo "CONFIG_AUTOREMOVE=n" >> .config
          echo "CONFIG_LUCI_LANG_zh_Hans=y" >> .config
          echo "CONFIG_PACKAGE_luci-theme-argon=m" >> .config
          make defconfig

      - name: Compile Argon (master)
        id: compile
        run: |
          cd sdk
          echo "make package/luci-theme-argon/{clean,compile} -j$(nproc)"
          make package/luci-theme-argon/{clean,compile} -j$(nproc)
          mv bin/packages/x86_64/base/ ../
          rm .config .config.old
          cd ..
          echo "status=success" >> $GITHUB_OUTPUT
          echo "FIRMWARE=$PWD" >> $GITHUB_ENV

      - name: Collect build artifacts
        run: |
          mkdir -p "$GITHUB_WORKSPACE/out"
          find base -type f -name "luci-theme*.ipk" -print -exec cp -f {} "$GITHUB_WORKSPACE/out/" \;
          cd "$GITHUB_WORKSPACE/out" && sha256sum *.ipk > SHA256SUMS.txt || true && ls -l

      - name: Upload Argon (master) ipks to release
        uses: softprops/action-gh-release@v2
        if: steps.compile.outputs.status == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.job_check.outputs.argon_version }}
          files: ${{ env.FIRMWARE }}/base/luci-theme*.*

      - name: Checkout custom-packages repo
        uses: actions/checkout@v6
        with:
          repository: OneNAS-space/custom-packages
          token: ${{ secrets.CUSTOM_PACKAGES_TOKEN }}
          path: custom-packages

      - name: Update luci artifacts
        run: |
          mkdir -p custom-packages/luci
          
          find ./out -type f -name "*.ipk" | while read -r f; do
            base=$(basename "$f")
            pkgname=$(echo "$base" | sed -E 's/^([^_]+)_.*$/\1/')
            echo "Cleaning old versions of $pkgname"
            rm -f custom-packages/luci/${pkgname}_*.ipk
            cp "$f" custom-packages/luci/
          done
          ls -la custom-packages/luci/
          echo "PKG_NAME=${{ github.event.repository.name }}" >> "$GITHUB_ENV"
          cd custom-packages
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add luci/
          git commit -m "Update to - ${{ needs.job_check.outputs.argon_version }}" || echo "No changes"
          git push
